<!DOCTYPE html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="index-style.css">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
	<div class="header">
		<div class="row">
			<div class="col-4"></div>
				<div class="col-4" id="user">
						CONTESTER 2.0
    			</div>
    		</div>
    </div>
	
			<div class="container-fluid">
					<div id="User_meet" class="card text-center">
  						<div class="card-body">
    						<h5 class="card-title">
    							{% if user.is_authenticated %}
    							Hi {{ user.username }}
    						</h5>
    							<a href="#" id="reg" class="btn btn-primary">Log out</a>
    							<a href="#"  id="reg2" class="btn btn-primary">Continue</a>
    							{% else %}
    							<a href="#" id="reg3" class="btn btn-primary">Log in</a>
    							<a href="#"  id="reg4" class="btn btn-primary">Sign Up</a>
    							{% endif %}
 							 </div>
  					
					</div>

</body>
</html>